@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rye&display=swap');

@keyframes floatAnimation {
  0%, 100% { transform: translate(10px, -10px); }
  33% { transform: translate(30px, -30px); }
  66% { transform: translate(-25px, 25px); }
}

.animate-float {
  animation: floatAnimation 6s ease-in-out infinite;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
